.main {
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  height: 500px;
}

h1, h2{
  font-family: 'Shadows Into Light', cursive;    
}

div {
  margin: 1px;
}

.divcenter {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  padding: 5px;
}

.header {
  height: 200px;
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-update, .btn-make, .btn-pause, .btn-stop {
  background-color: #008CBA;
  color: white;
}

#btn-leftbar {
  width: auto;
  background-color: black; 
  border-right: 5px burlywood solid;
}

.redhand {
  color:red;
  font-size:30px !important; 
  display:inline; 
  margin-left: 0;
}

.sidebar {
  height: 100%;
  width: 100%; 
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.designtext {
  font-size: 16px;
  font-family: cursive;
  text-align: center;
  color: red;  
}

ul{
  margin: 0;
  padding: 0;
}

.divimage {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:125px; top:0px;}
  50%  {background-color:blue; left:125px; top:345px;}
  75%  {background-color:green; left:0px; top:345px;}
  100% {background-color:red; left:0px; top:0px;}
}

.infoheader {
  font-size: 22px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: #0ac2f0;    
  margin-left: 15px; 
}


.adsize {
  width: 100px;
  height: 100px;
  padding: 5px;
  margin: 5px;
}

div {
  margin: 1px;
}

.divcenter {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  padding: 5px;
}

.header {
  height: 200px;
}

* {
  box-sizing: border-box; 
}


.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-update, .btn-make, .btn-pause, .btn-stop {
  background-color: #008CBA;
  color: white;
}

/* left div */
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* The actual popup (appears on top) */
.popupPM .popuptextPM {
  visibility: hidden;
  width: 700px;
  height: 300px;
  position: fixed;
  top: 30%;
  left: 30%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 10;
  background-color: #555;
  color: #fff;
  border-radius: 6px;  
}

/* Popup arrow */
.popupPM .popuptextPM::after {
  content: ""; 
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 10;
  border-width: 10px;
  border-style: solid;
  
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popupPM .showPM {
  display: block;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}